html{
    font-family: Filson Soft, serif;
    color:antiquewhite;
}

html, body {
    margin: 0;
    width: 100%;
    background-image: url(/img/love4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 100%;
    height: 100vh;
    text-align: center;
}
h4{
    font-weight: 100;
    font-size: 20px;
    margin:0;
    padding: 8em 0 1em 0;

}
.btn_one{
    text-decoration: none;
    color:antiquewhite;
    font-weight: 100;
    border: 1px #fbbc85 solid;
    padding: 1em 3em;
    border-radius: 100px;

}

.nav div{
 height:  6px;
 background-color: aliceblue;  
 margin: 8px 0;
 border-radius: 25px;
 transition: 0.3s;

}
.nav{
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
}

.one{
  width: 30px;  
}

.two{
    width: 20px;
}

.one{
    width: 25px;
}

.nav:hover div{
    width: 30px;
}

